.container {
	display: table;
	width: 1400px;
	margin: 0 auto;

	background: #555;
	}

.aside,
.main {
	display: table-cell;
	vertical-align: top;
	}

.aside {
	width: 200px;
	}

.aside_search {
	width: 150px;
	margin: 15px;


	border: 0;
	border-top: 1px solid #bababa;
	border-bottom: 1px solid #bababa;
	


}

.layer {
	min-height: 500px;
}