<a href="#" class="lego_lk lego_search-result_i">
    <img class="lego_search-result_img" src="/lego/assets/i/layout_default.png" alt=""/>
    <div class="lego_search-result_n" data-layout="default">Default</div>
</a>
<a href="#" class="lego_lk lego_search-result_i">
    <img class="lego_search-result_img" src="/lego/assets/i/layout_1col.png" alt=""/>
    <div class="lego_search-result_n"  data-layout="one-column">One column</div>
</a>
<a href="#" class="lego_lk lego_search-result_i">
    <img class="lego_search-result_img" src="/lego/assets/i/layout_2col.png" alt=""/>
    <div class="lego_search-result_n" data-layout="two-column">2 columns</div>
</a>
<a href="#" class="lego_lk lego_search-result_i">
    <img class="lego_search-result_img" src="/lego/assets/i/layout_3col.png" alt=""/>
    <div class="lego_search-result_n" data-layout="three-column">3 columns</div>
</a>