/* Cosmetic styles just for demo
---------------------------------------------------------------------------------- */

.toolbar_search.__redesign {
	right: 5px;
	}

.toolbar .layer_ovr,
.toolbar + .layer_ovr {
	display: none;
}

.lego_content .toolbar {
	margin-left: -288px;
	left: 16px;
}

/* /Cosmetic styles just for demo
---------------------------------------------------------------------------------- */