/* base
---------------------------------------------------------------------------------- */

body {
	background: #444;
}

.lego_lk:link,
.lego_lk:visited {
	color: #ddd;
	text-decoration: none;
}

.lego_lk:hover {
	text-decoration: underline;
}

.cf:before,
.cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}


/* /base
---------------------------------------------------------------------------------- */

.lego_container {
	display: table;
	min-width: 1400px;
	margin: 0 auto;
	}

.lego_aside,
.lego_main {
	display: table-cell;
	vertical-align: top;
	}

.lego_aside {
	padding: 20px 0;
	min-width: 200px;
	max-width: 300px;
	}

/* left column
---------------------------------------------------------------------------------- */

.lego_toggler {
	margin: 10px;
}
.lego_toggle_i {
	display: inline-block;
	padding: 3px;
	font-size: 12px;
}
.lego_toggle_i.__active {
	background: #FF7F00;
	color: #fff;
}

.lego_aside_search {
	width: 85%;
	margin-left: 10px;
	padding: 5px;

	border: 1px solid #bababa;
	}

.lego_search-result {
	padding: 10px;
	color: #fff;
	}

	.lego_search-result.__list .lego_search-result_i {
		display: block;
		width: auto;

		}
	.lego_search-result.__list .lego_search-result_img {
		display: none;

		}

.lego_search-result_w {

	}

.lego_search-result_h {
	position: relative;
	margin-bottom: 10px;
	color: #bababa;
	text-decoration: none !important;
	font-size: 14px;
	cursor: pointer;
	}

	.lego_search-result_h:before{
		content: '▼';
		margin-right: 5px;
		font-size: 12px;
		}

	.lego_search-result_w.__closed .lego_search-result_h:before{
		content: '►';
		}

	.lego_search-result_w.__closed .lego_search-result_i {
		display: none;
		}

.lego_search-result_i {
	display: inline-block;
	width: 85px;
	vertical-align: top;
	margin-bottom: 10px;
	margin-right: 2px;
	}

.lego_search-result_n {
	font-size: 12px;
	color: #fff;
	}

/* /left column
---------------------------------------------------------------------------------- */


/* right column
---------------------------------------------------------------------------------- */

.lego_export-select {
	display: block;
	margin: 0 auto;
	}

.lego_widget {
	color: #bababa;
	padding: 0 10px 20px;

	font-size: 14px;
	}

.lego_widget_h {
	border-bottom: 1px solid #bababa;
	margin-bottom: 15px;

	font-size: 16px;
	}

.lego_widget_ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	}

.lego_widget_ul-i {
	line-height: 24px;
	}

.lego_widget_ul-i .lego_lk {
	display: inline-block;
	}

.lego_widget_ul-i .lego_ic {
	display: none;
	}

.lego_widget_ul-i:hover .lego_ic_close {
	display: inline-block;
	vertical-align: middle;
	}

.lego_widget_form {

	}

.lego_form-i {
	margin-bottom: 15px;
	}

.lego_form-i_w {
	clear: left;
	margin-bottom: 5px;
	}

.lego_form-i_w .lego_it,
.lego_form-i_w .lego_form-i_txt {
	display: inline-block;
	}

.lego_form-i_w .lego_form-i_txt {
	vertical-align: -3px; /* vertical centering */
	}

.lego_form-i .lego_checkbox {
	position: relative;
	top: 5px;
	float: left;

	margin-right: 5px;
	}

.lego_label {
	display: block;
	margin-bottom: 5px;
	color: #ddd;
	}

.lego_it {
	box-sizing: border-box;
	padding: 2px 3px;
	font-size: 13px;
	color: #555;
	}

.lego_it.__short,
.__short {
	width: 80px;
	}

.lego_it.__medium {
	width: 155px;
	}



.lego_ic {
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	}

.lego_ic.lego_ic_close {
	background: url(../i/close.png);
	}

	.lego_ic.lego_ic_close:hover {
		background: url(../i/close_h.png);
		}

/* /right column
---------------------------------------------------------------------------------- */


/* center column
---------------------------------------------------------------------------------- */

.lego_main {
	width: 1000px;
	border-top: 20px solid #444;
	background: #999; /* color of cover  */
	}

/* /center column
---------------------------------------------------------------------------------- */


/* layers
---------------------------------------------------------------------------------- */

/* default styles for all layers */
.lego_layer {
	position: relative;
	width: 1000px;
	}

/* without background of grid */
.lego_layer.__hide-bg .lego_right-column,
.lego_layer.__hide-bg .lego_sidebar,
.lego_layer.__hide-bg .lego_toolbar,
.lego_layer.__hide-bg .lego_navbar,
.lego_layer.__hide-bg .lego_content {
	background: #fff;
	}


/* by default all block exclude content_w are hidden */
.lego_right-column,
.lego_sidebar,
.lego_toolbar,
.lego_navbar {
	display: none;
	background: #FFF4F8;
	}

.lego_toolbar {
	width: 100%;
	height: 48px;
	}


.lego_sidebar {
	float: left;
	margin: -25px 0 0 15px;
	width: 210px;
	min-height: 685px;
}

.lego_content_w {
	width: 100%;
	margin-top: 45px;
	background: #fff;
	}

.lego_content {
	min-height: 600px;
	width: 1000px;
	background: #FFF4F8;
	}

.lego_navbar {
	float: right;
	height: 40px;
	width: 730px;
	margin-bottom: 20px;
	margin-right: 15px;
	}

.lego_right-column {
	float: right;
	width: 215px;
	min-height: 600px;
	margin: 0 15px;
	}

/* default */

.lego_layer.__default .lego_content{
	display: inline-block;
	width: auto;
	text-align: left;
	background: #fff;
	}

.lego_layer.__default .lego_content_dec {
	text-align: center;
	padding-top: 100px;
	}

.lego_layer.__default .lego_content_w {
	margin-top: 0;
	}

.lego_layer.__default .lego_content_w,{
	margin-top: 0;
	}


/* two column layout */
.lego_layer.__two-column .lego_navbar,
.lego_layer.__two-column .lego_sidebar,
.lego_layer.__two-column .lego_content,
.lego_layer.__two-column .lego_toolbar { display: block; }

.lego_layer.__two-column .lego_sidebar {
	width: 230px;
	}

.lego_layer.__two-column .lego_navbar {
	width: 715px;
	}

.lego_layer.__two-column .lego_content {
	float: right;
	width: 715px;
	margin-right: 15px;

	text-align: left;
	}

/* one column */
.lego_layer.__one-column .lego_toolbar,
.lego_layer.__one-column .lego_content {
	display: block;
	}

.lego_layer.__one-column .lego_content {
	width: 970px;
	margin: 15px;
	}

/* three column */
.lego_layer.__three-column .lego_navbar,
.lego_layer.__three-column .lego_sidebar,
.lego_layer.__three-column .lego_content,
.lego_layer.__three-column .lego_toolbar,
.lego_layer.__three-column .lego_right-column { display: block; }

.lego_layer.__three-column .lego_content {
	float: right;
	width: 500px;
	}

/* /layers
---------------------------------------------------------------------------------- */

/* temp */

.editable {
    box-shadow: 0 0 10px rgba(255,0,0,.5);
    }

.editor {
    position:relative;
    }
    .editor.__highlighted > * {
        opacity: .5;
        }
    .editor_x {
        background: #000;
        position: absolute;
        top: 0; left: 0;
        padding: 2px 5px;
        font-size: 15px;
        line-height: 1;
        cursor: pointer;
        color: #fff;
        visibility:hidden;
        opacity: .5;
        z-index: 100;
        }
        .editor:hover .editor_x {
            visibility:visible;
            }
            .editor .editor_x:hover {
                opacity: 1;
                }


/* /temp */
